body {
  margin: 0px;
  padding: 0px;
}

.main-container{
  width: 100%;
  height: 5345px;
  background-color: #02050E;
  background-image: url(mediaFiles/Ornament.svg);
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%px;
  height: 56px;
  padding-top: 40px;
}

.logo-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 250px;
}
.logo{
  height: 40px;
  width: 140px; 
}

.logo:hover{
  cursor: pointer;
  transform: translateY(-2px);
}

.nav-list{
  display: flex;
  flex-direction: row;
  width: 860px;
  height: 56px;
  
}
.nav-ul{
  display: flex;
  flex-direction: row;
  align-content: center; 
  float: right;
  width: 520px;
  justify-content: space-between;
  margin-right: 20px;
  margin-right: 50px;
  
}
li{
  color: #ADB9C7;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

li:hover{
  border-bottom:2px solid #1E50FF;
  color: #fff;
  cursor: pointer;
  transform: translateY(-2px);
  
}

.Connect-Wallet{
  width: 175px;
  height: 56px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #1E50FF;
  background-color: transparent;
  color: aliceblue;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.Connect-Wallet:hover{
  transform: translateY(-2px);
  cursor: pointer;
}